# Temporary and binary files
*.py[cod]
*.so
*.cfg
*.orig
*.log
*.pot
__pycache__/*
.cache/*
.ipynb_checkpoints

# Project files
.ropeproject
.project
.pydevproject
.settings
.idea

# Package files
*.egg
.installed.cfg
*.egg-info

# Unittest and coverage
htmlcov/*
.coverage
.tox
junit.xml
coverage.xml

# Build and docs folder/files
build/*
dist/*
sdist/*
docs/build/*
/venv*/
MANIFEST

/1*/
/data/
/predict_old/
/configs.sh
*_cache/
*_files/
*.h5
*.html
