# Temporary and binary files
*.py[cod]
*.so
*.cfg
*.orig
*.log
*.pot
__pycache__/*
.cache/*
.ipynb_checkpoints

# Project files
.ropeproject
.project
.pydevproject
.settings
.idea

# Package files
*.egg*
.installed.cfg

# Unittest and coverage
htmlcov/*
.coverage
.tox
junit.xml
coverage.xml

# Build and docs folder/files
build/*
dist/*
sdist/*
docs/build/*
/venv*/
MANIFEST

*.h5
*.bed
*.gz

examples/*
